body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
}

.styled-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s;
}

.icon-button img {
    width: 50px;
    height: 50px;
}

.icon-button:hover {
    transform: scale(1.1);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Đặt tooltip phía trên nút */
    left: 50%;
    margin-left: -60px; /* Căn giữa tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.icon-container {
    margin-bottom: 20px;
}

.icon-container img {
    width: 100px;
    height: 100px;
}
